.step-two-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: auto;
    width: 60%
    
  }
  .left-column {
    flex: 2;
  }
  
  .right-column {
    flex: 1;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 10%;
  }
  
  .vehiculo-info {
    margin-bottom: 20px;
  }
  .vehiculo-info h2{
     color: #002f87;
    font-size: 30px;
  }
  
  .info-box {
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
  }
  
  .form-container p {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #464646;
    margin: 5px 0;
  }

  .form-container h2 {
    color: #002f87;
    font-size: 30px;
  }
  
  .label-small {
    color: #0076d6;
    font-size: 14px;
  }
  
  .valor-pagar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e5e5e5;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .valor {
    color: #004aad;
    font-size: 22px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 15px;
  }
  
  .checkbox-container span {
    font-size: 16px;
    line-height: 1.4;
  }
  
  .btn-comprar {
    background: #e3e829;
    color: #000;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 3.125rem;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
  }
  